ul,ol{
    text-decoration: none;
}
.logo img {
    width: 100%;
    vertical-align: middle;
  }
.conent .logo {
    width: 20%;
    line-height: 50px;
  }
  .deng{
    width: 100%;
    height: 4.95rem;
    background: #1c2635;
  }
  .deng .logo{
      width: 1rem;
  }