#root {
  height: 100%;
  width: 100%;
  overflow: auto;
}

#root header {
  width: 100%;
  height: 5rem;
  background: #1c2635;
}

#root header .logo {
  width: 20%;
  line-height: 5rem;
}

#root header .logo img {
  width: 100%;
  vertical-align: middle;
}

#root header .header_war {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#root header .header_war a {
  color: #999;
  display: block;
  line-height: 5rem;
}

#root header .header_war .action {
  color: #fff;
  border-bottom: 1px solid #fff;
}

#root footer {
  width: 100%;
  border-top: 1px solid #eee;
  background: #f6f6f6;
}

#root footer .nav {
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  height: 5rem;
  background: #fff;
}

#root footer .nav a {
  display: block;
  height: 5rem;
  line-height: 5rem;
  color: #0074c5;
}

#root footer ul {
  display: flex;
  justify-content: space-around;
  height: 5rem;
}

#root footer ul li {
  flex: 1;
  font-size: 1.4rem;
  margin: 1.5rem 0;
  height: 2rem;
  line-height: 2rem;
  border-right: 1px solid #999;
}

#root footer ul li:last-child {
  border: none;
}

#root footer .tu {
  height: 3.4rem;
  display: flex;
  justify-content: center;
}

#root footer .tu p {
  width: 7rem;
  height: 2.4rem;
}

#root footer .tu p img {
  height: 100%;
  width: 100%;
}

#root footer .zi {
  font-size: 1.2rem;
  color: #999;
  height: 3rem;
}
