@charset "UTF-8";
#root {
  height: 100%;
  width: 100%;
  overflow: auto;
}

#root header {
  width: 100%;
  height: 5rem;
  background: #1c2635;
}

#root header .logo {
  width: 20%;
  line-height: 5rem;
}

#root header .logo img {
  width: 100%;
  vertical-align: middle;
}

#root header .header_war {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#root header .header_war a {
  color: #999;
  display: block;
  line-height: 5rem;
}

#root header .header_war .action {
  color: #fff;
  border-bottom: 1px solid #fff;
}

#root main {
  position: relative;
}

#root main .buy {
  width: 100%;
}

#root main .buy .inp {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background: #f6f6f6;
  height: 5rem;
  border-bottom: 2px solid #d8d8d8;
}

#root main .buy .inp .dingwei {
  width: 4.5rem;
  height: 5rem;
  line-height: 5rem;
  font: 15px '微软雅黑' #333;
}

#root main .buy .inp .dingwei p {
  display: inline-block;
  transform: rotate(-90deg);
}

#root main .buy .inp .sou {
  height: 3.5rem;
  width: 15.5rem;
  border: 1px solid #999;
  border-radius: .5rem;
  display: flex;
  background: #fff;
  margin: auto 0;
}

#root main .buy .inp .sou span {
  display: block;
  width: 20%;
  line-height: 3.5rem;
  font-size: 20px;
  color: #ddd;
}

#root main .buy .inp .sou input {
  margin: auto 0;
  width: 80%;
  border: none;
  height: 2rem;
  outline: none;
  font-size: 1.6rem;
}

#root main .buy .inp .tijiao {
  width: 6.4rem;
  height: 3.4rem;
  margin: auto 0;
  line-height: 3.4rem;
  border: 1px solid #fff;
  border-radius: .5rem;
}

#root main .buy .nav {
  display: flex;
  height: 4rem;
  justify-content: space-around;
  color: #777;
}

#root main .buy .nav li {
  height: 2rem;
  margin: auto 0;
  text-align: center;
  flex: 1;
  line-height: 2rem;
  border-right: 1px solid #999;
}

#root main .buy .nav li:last-child {
  border: none;
}

#root main .buy .type_list {
  width: 100%;
  position: absolute;
  top: 90px;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 11;
  display: none;
}

#root main .buy .type_list p {
  width: 100%;
  height: 4rem;
  background: #fff;
  line-height: 4rem;
  text-align: left;
  border-top: 1px solid #eee;
  box-sizing: border-box;
  padding-left: 3rem;
  color: #777;
}

#root main .buy .type_list .type2 {
  color: #f97d3f;
}

#root main .buy .banner .swiper-container {
  width: 100%;
  height: 8.7rem;
  position: relative;
}

#root main .buy .banner .swiper-container .swiper-wrapper {
  width: 100%;
  height: 8.7rem;
}

#root main .buy .banner .swiper-container .swiper-wrapper .swiper-slide {
  cursor: pointer;
}

#root main .buy .banner .swiper-container .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
}

#root main .buy .banner .swiper-container .swiper-pagination {
  width: 10%;
  position: absolute;
  left: 90%;
  bottom: .5rem;
}

#root main .buy .banner .swiper-container .guanggao {
  height: 2rem;
  width: 4rem;
  position: absolute;
  left: .5rem;
  bottom: 0.5rem;
  color: #fff;
  border: 1px solid #fff;
  z-index: 10;
  line-height: 2rem;
}

#root main .buy .shengming {
  width: 100%;
  height: 2rem;
  color: #999;
  font-size: 1.3rem;
  background: #f6f6f6;
  line-height: 2rem;
}

#root main .buy .lists {
  width: 100%;
}

#root main .buy .lists .list {
  width: 90%;
  margin: 1rem 5%;
  border-bottom: 1px solid #d8d8d8;
}

#root main .buy .lists .list .title {
  height: 2.2rem;
  line-height: 2.2rem;
  font-size: 1.6rem;
  color: #333;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

#root main .buy .lists .list .title span {
  color: #ff8600;
  font-size: 1.8rem;
}

#root main .buy .lists .list .title span u {
  text-decoration: none;
  font-size: 1.3rem;
  color: #ff8600;
}

#root main .buy .lists .list .dizhi {
  color: #777;
  font-size: 1.3rem;
  text-align: left;
  margin-top: 1rem;
}

#root main .buy .lists .list .typ {
  width: 100%;
  overflow: hidden;
  text-align: left;
  display: flex;
  margin: 1rem 0;
}

#root main .buy .lists .list .typ span {
  display: block;
  height: 1.5rem;
  width: 2rem;
  overflow: hidden;
  color: #6d8297;
  border: 1px solid #6d8297;
  border-radius: .3rem;
  text-align: center;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0 .5rem;
}

#root main .buy .lists .list .typ span:first-child {
  margin-left: 0;
}

#root .deng {
  width: 100%;
  height: 4.95rem;
  background: #1c2635;
}

#root .deng .conent .logo {
  width: 20%;
  line-height: 50px;
  text-align: center;
}

#root .deng .logo {
  width: 50px;
}

#root .deng .logo img {
  width: 6.563rem;
}

#root footer {
  width: 100%;
  border-top: 1px solid #eee;
  background: #f6f6f6;
}

#root footer .nav {
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  height: 5rem;
  background: #fff;
}

#root footer .nav a {
  display: block;
  height: 5rem;
  line-height: 5rem;
  color: #0074c5;
}

#root footer ul {
  display: flex;
  justify-content: space-around;
  height: 5rem;
}

#root footer ul li {
  flex: 1;
  font-size: 1.4rem;
  margin: 1.5rem 0;
  height: 2rem;
  line-height: 2rem;
  border-right: 1px solid #999;
}

#root footer ul li:last-child {
  border: none;
}

#root footer .tu {
  height: 3.4rem;
  display: flex;
  justify-content: center;
}

#root footer .tu p {
  width: 7rem;
  height: 2.4rem;
}

#root footer .tu p img {
  height: 100%;
  width: 100%;
}

#root footer .zi {
  font-size: 1.2rem;
  color: #999;
  height: 3rem;
}

#root .mov .top {
  height: 5rem;
  width: 100%;
  background: #333;
  display: flex;
  justify-content: space-between;
  color: #eee;
  font-size: 36px;
}

#root .mov .top p {
  margin: 0 2rem;
  line-height: 5rem;
}

#root .mov .top p:first-child {
  font-size: 26px;
}

#root .mov .main {
  padding: 2rem 5%;
  width: 90%;
  display: flex;
}

#root .mov .main .left {
  flex: 7;
}

#root .mov .main .left .title {
  width: 100%;
  color: #333;
  font: 1.9rem/2rem '微软雅黑';
  text-align: left;
}

#root .mov .main .left .type {
  display: flex;
  margin-top: 1.1rem;
}

#root .mov .main .left .type span {
  display: block;
  height: 2.1rem;
  line-height: 2.1rem;
  width: 2.1rem;
  border: 1px solid #27bb14;
  overflow: hidden;
  margin-right: .7rem;
  border-radius: .5rem;
}

#root .mov .main .right {
  flex: 3;
  display: flex;
  height: 7.3rem;
}

#root .mov .main .right p {
  flex: 1;
  height: 2.5rem;
  margin: auto 0;
  line-height: 2.5rem;
  border-left: 1px solid #999;
}

#root .mov .main .right p img {
  height: 100%;
}

#root .mov .bann {
  width: 100%;
  height: 17.5rem;
  background: #828282;
  overflow: hidden;
}

#root .mov .bann .swiper-container1 {
  height: 12.1rem;
  width: 100%;
  margin-top: 2.5rem;
}

#root .mov .bann .swiper-container1 .swiper-wrapper {
  height: 12.1rem;
}

#root .mov .bann .swiper-container1 .swiper-wrapper .swiper-slide {
  padding: 0 2%;
  height: 100%;
  width: 8.7rem !important;
  position: relative;
}

#root .mov .bann .swiper-container1 .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
}

#root .mov .bann .swiper-container1 .swiper-wrapper .swiper-slide .yinying {
  position: absolute;
  top: 0;
  left: 6%;
  width: 88%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

#root .mov .bann .swiper-container1 .swiper-wrapper .swiper-slide .names {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #fff;
  opacity: .5;
}

#root .mov .bann .swiper-container1 .swiper-wrapper .swiper-slide .ac1 {
  display: none;
}

#root .mov .bann .swiper-container1 .swiper-wrapper .swiper-slide:first-child {
  width: 40% !important;
}
